*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'poppins','sans-serif' ;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}



.logo {
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a.active {
    color: #b74b4b;
    border-bottom: 2px solid #cd2020;
}

.sidebar {
    display: none;
}

@media  (max-width:995px) {
    .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 130px;
    z-index: 999;
    background-color:transparent;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
  }
 .sidebar a {
    padding-top: 25px;
    }
  .navbar a {
    display: none;
  }  
    
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}


span{
    color: #b74b4b;
}


.home-content h3 {
    border-radius: 50%;
}

.home-content p {
    font-size: 1.6rem;
}


.home-img img {
    border-radius: 40%;
    position: relative;
    width: 32wv;
    box-shadow: 0 0 25px solid #b74b4b;
    cursor: pointer;
    transition: 0.5s linear;
}


.home-img img:hover {
    font-size: 1.8rem;
    font-weight: 500;
}

.icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    color: #b74b4b;
    border: 0.2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.icon  :hover{
    color: black;
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px #b74b4b;
    background-color: #b74b4b;
    
}

.btn {
    height: 4rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem,2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    color: black;
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px #b74b4b;
    background-color: #b74b4b;
}

.text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.text span {
    position: relative;
}

.text span::before{
    content: "Software Developer";
    color: #b74b4b;
    animation: words 20s infinite;
}

.text span::after {
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #b74b4b;
    }
}

@keyframes words {
    0%,20% {
        content: "Web Developer";
    }
    21%,40% {
        content: " Developer";
    }
    41%,60% {
        content: "Web Designer";
    }
    61%,80% {
        content: "Website Builder";
    }
    81%,100% {
        content: "Frontend Developer";
    }

}

@media(max-width:1000px){
    .home{
        gap:4rem
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content{
        font-size: 5rem;
    }
    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
}